.mockup-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.mockup-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.mockup-detail h1{
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.mockup-detail p {
  font-size: 1rem;
  color: #7f8c8d;
  max-width: 900px;
  margin: 0 auto 2rem auto;
  line-height: 1.6;
}
.mockup-gallery{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}
.mockup-gallery picture{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: block;
}
.mockup-image{
  width: 100%;
  max-width: 1000px;
  height: auto;  /* Maintains aspect ratio by auto adjusting height*/
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: contain; /* maintains images inside container with no distortion */
  display: block;
  margin: auto 0;
}

.mockup-detail h2{
  font-size: 1.8rem;
  color:#2c3e50;
}
.mockup-detail ul{
  margin-top: 1rem;
}
.mockup-detail ul li{
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

@media (min-width: 1024px) and (max-width:1440px){
  .mockup-image{
    margin: auto;
    max-width: 800px;
  }
}
@media (min-width: 1440px){
  .mockup-image{
    max-width: 1200px;
  }
}

@media(max-width: 768px){
  .mockup-page{
    width: 100%;
  }

  .mockup-detail{
    padding: 1.5rem;
  }

  .mockup-detail h1{
    font-size: 2rem;
  }

  .mockup-gallery{
    flex-direction: column;
    align-items: center;
  }
  .mockup-gallery picture{
    width: 100%;
    max-width: 100%;
  }
  .mockup-gallery picture img{
  width: 100%;
  max-width: 100%;
  height: auto;
  }
  .mockup-image{
    max-width: 700px;
  }
}

@media(max-width: 480px){
  .mockup-image{
    max-width: 400px;
  }
}

footer.credits {
  background-color: #f8f8f8;
  padding: 1.5rem;
  font-size: 0.85rem;
  color: #555;
}

footer.credits h4 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

footer.credits ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

footer.credits li {
  margin-bottom: 0.3rem;
}

footer.credits a {
  color: #0077cc;
  text-decoration: none;
}

footer.credits a:hover {
  text-decoration: underline;
}
